body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name_div, #join_div, #create_div{
    margin-bottom: 2em;
}

#name{
    text-align: left;
    justify-content: center;
}
#continue_name{
    text-align: center;
    justify-content: center;
}

#messages{
    height: 9em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgba(128, 128, 128, 0.74);
}

#messages p{
    margin: 0;
}
.column-main{
    display: flex;
    justify-content: space-between;
}

.column-right{
    background-color: goldenrod;
    width: 8em;
}