#name{
    text-align: left;
    justify-content: center;
}
#continue_name{
    text-align: center;
    justify-content: center;
}

#messages{
    height: 9em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgba(128, 128, 128, 0.74);
}